{% extends "base/base.html" %}
{% block title %}ToDone{% endblock title %}
{% block style %}
    "{{ url_for('static', filename='css/index.css') }}"
{% endblock style %}
{% block content %}

<div class="header">
    <h1>Welcome to ToDone !</h1>
</div>

<div class="main-content">
    {% if todo_lists %}
    <h3>Available To-do lists:</h3>
    <ul class="todo-lists">
        {% for todo_list in todo_lists %}
        <li class="todo-list-item">
            <a href="{{ url_for('todo', filename=todo_list) }}"> {{ todo_list }} </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>There are no To-do lists available.</h3>
    {% endif %}

    <div class="create-todo">
        <h3>
            <a href="{{ url_for('todo') }}">Create a new To-do list</a>
        </h3>
    </div>

    <div class="open-todo">
        <h3>Open a To-do list :</h3>
        <form action="{{ url_for('upload') }}" enctype="multipart/form-data" method="post">
            {{ form.hidden_tag() }}
            {{ form.todo_list() }}
            <input class="btn" type="submit" value="Open File">
        </form>
    </div>
</div>

<div class="messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flash-messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

{% endblock content %}