{% extends "base/base.html" %}
{% block title %}
    ToDone
{% endblock title %}
{% block style %}
    "static/css/base.css"
{% endblock style %}
{% block content %}
    <h3>Welcome !</h3>

    <p>
        <a href="{{url_for('todo')}}">Create a To-do list</a>
    </p>

    {% with messages = get_flashed_messages(True) %}
        {% if messages %}
            {% for category, message in messages  %}
                <p>{{category}} : <br>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock content %}
