{% extends "base/base.html" %}
{% block title %}
    ToDone
{% endblock title %}
{% block style %}
    "static/css/base.css"
{% endblock style %}
{% block content %}

    <h1>Welcome !</h1>

    <h3>
        <a href="{{url_for('todo')}}">Create a To-do list</a>
    </h3>


    <h3>Open a To-do lsit</h3>
    <form action="{{ url_for('upload') }}" enctype="multipart/form-data" method="post">
        {{form.hidden_tag()}}
        {{form.todo_list()}}
        <input type="submit" value="Open File">
    </form>

    {% with messages = get_flashed_messages(True) %}
        {% if messages %}
            {% for category, message in messages  %}
                <p>{{category}} : <br>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock content %}
