{% extends "base/base.html" %}
{% block title %}ToDone{% endblock %}
{% block style %}
	"{{ url_for('static', filename='css/todo.css') }}"
{% endblock %}
{% block content %}
<div class="container">
	<header class="header">
		<h1>To Done</h1>
		<form action="{{ url_for('todo', filename=filename) }}" method="post" class="todo-form">
			{{ form.hidden_tag() }}
			{{ form.caption() }}
		</form>
	</header>
	<section class="task-list" {% if not tasks %}style="display: none;" {% endif %}>
		<ul class="todos">
			{% for task in tasks %}
			<li class="todo-item {{ 'completed' if task.done }}">
				<input type="checkbox" class="check-todo" {% if task.done %}checked{% endif %}>
				<a href="{{ url_for('edit', filename=filename, id=task.id )}}" class="todo-text">{{ task.caption }}</a>
				<button onclick="location.href='{{ url_for('deleteTask', filename=filename, id=task.id) }}'"
					class="delete-btn">&times;</button>
			</li>
			{% endfor %}
		</ul>
	</section>
	<footer class="footer" {% if not tasks %}style="display: none;" {% endif %}>
		<span class="todo-count"><strong>{{ tasks_not_done|length }}</strong> item left
</span>
		<div class="filters">
			<a href="{{ url_for('todo', filename=filename, filter='all') }}"
				class="{{ 'selected' if active_filter == 'all' }}">All</a>
			<a href="{{ url_for('todo', filename=filename, filter='active') }}"
				class="{{ 'selected' if active_filter == 'active' }}">Active</a>
			<a href="{{ url_for('todo', filename=filename, filter='completed') }}"
				class="{{ 'selected' if active_filter == 'completed' }}">Completed</a>
		</div>
		{% if tasks|selectattr("done", "equalto", tasks|length > 0) %}
		<button onclick="location.href='{{ url_for('clearCompleted', filename=filename) }}'"
			class="clear-completed">Clear completed</button>
		{% endif %}
	</footer>
		
</div>
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="flash-message {{ category }}">{{ message }}</div>
{% endfor %}
<footer class="info">
	<a href="{{url_for('download',filename=filename)}}">
		<button style="color:white;background-color:green; font-size: medium;padding: 2px;">Download</button>
	</a>
	<p>Click to edit a todo</p>
	<p>Created by <a href="https://github.com/aliireza1101">Aliireza</a> & <a
			href="https://github.com/alistar1381">Alistar</a></p>
	<p>Repository on <a href="https://github.com/tech-tribute/ToDone/">GitHub</a></p>
</footer>
{% endblock %}
