{% extends "base/base.html" %}

{% block title %}Update task{% endblock title %}
{% block content %}
    <h1>Update task id : {{task.id}}</h1>
    <form method="post">
        <input type="text" name="caption">
        <input type="submit" value="Add">
    </form>

    {% with messages = get_flashed_messages(True) %}
	{% if messages %}
		{% for category, message in messages  %}
			<p>{{category}} : <br>{{ message }}</p>
		{% endfor %}
	{% endif %}
    {% endwith %}
    
{% endblock content %}
