{% extends "base/base.html" %}

{% block title %}Index | ToDone{% endblock title %}
{% block content %}
    <h1>Tasks :</h1>
    <table>
        <tr>
            <th>
                Task
            </th>
            <th>
                Create
            </th>
            <th>
                Actions
            </th>
        </tr>

        {% if tasks %}
            {% for task in tasks %}
                <tr>
                    <th>
                        {{task.caption}}
                    </th>
                    <th>
                        {{task.create}}
                    </th>
                    <th>
                        <a href="">Delete</a>
                    </th>
                </tr>
        {% endfor %}
    </table>
        {% else %}
            <p>No tasks</p>
        {% endif %}
    <form method="post">
        <input type="text" name="caption">
        <input type="submit" value="Add">
    </form>
{% endblock content %}
