{% extends "base/base.html" %}
{% block title %}
    Index | tasks
{% endblock title %}
{% block content %}
    <div>
        {% if tasks %}  
        <table>
            <tr>
                <th>
                    Task
                </th>
                <th>
                    Create
                </th>
                <th>
                    Actions
                </th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <th>
                        {{task.caption}}
                    </th>
                    <th>
                        {{task.create}}
                    </th>
                    <th>
                        <a href="delete/{{task.id}}">Delete</a>
                        <a href="update/{{task.id}}">Update</a>
                    </th>
                </tr>
                {% endfor %}
        </table>
        {% else %}
            <p>There is no task on current database</p>
        {% endif %}
    </div>

    <div>
        <form action="/" method="post">
        {{form.hidden_tag()}}
        caption {{form.caption}}<br/>
        <input type="submit" value="submit">
        </form>
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}            
                </ul>
            {% endif %}
        {% endwith %}
    </div>

{% endblock content %}
