{% extends "base/base.html" %}

{% block title %}Update task{% endblock title %}
{% block content %}
    <h1>Update task id : {{task.id}}</h1>
    <form method="post">
        <input type="text" name="caption">
        <input type="submit" value="Add">
    </form>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}            
                </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock content %}
